@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,700,900&display=swap');

@import 'normalize';
@import 'mixin';


$text:#242424;
$brand:#ff5f33;

* {
	box-sizing: border-box;
}


html {
	font: 10px/1.6 'Open Sans', serif;
	height: 100%;
}

body {
     font-size: 1.7rem;
     color: #333;
     height: 100%;
     background-color: green;
     margin:0;
}

.container {
  margin:0 auto;
  max-width: 1200px;
  width: 96%;
}

.section {
  &--bg {
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__info{
    &--small{}
    &--midle{
      position: absolute;
      top:40%;
      width: 350px;
    }
    &--large{}
  }
}

header {
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
    margin-top: 35px;
  &__item{
    @include hover {
      fill:$brand;
    }
  }
}

.menu{
    margin-top: 35px;
    list-style-type: none;
    display: flex;
    &__item {
      display: flex;
      justify-content: space-around;
  }
  &__link {
    @include tdn();
    font-family:'Raleway', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color:$text;
    border-top:3px solid transparent;
    padding-top:5px;
    margin-right: 30px;
    @include hover {
      border-top:3px solid $brand;
    }
  }
}

.info {
  &__title {
    font-size:6rem;
    font-weight: 800;
    font-family:'Raleway', sans-serif;
    margin: 0;
    color:$text;
  }
  p {
    color:$text;
  }
}

.btn {
  display: inline-block;
  margin-top: 20px;
  @include tdn();
  background-color: $brand;
  border:1px solid $brand;
  padding: 15px 30px;
  color:#fff;
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
  box-shadow: -18px 18px 17px -21px rgba(0,0,0,1);
  @include hover {
    background-color: #fff;
    color:$brand;
  }  
}

.scroll {
  position: absolute;
  top:90%;
  left:50%;
  transform:translate(-50%, -50%);
}


